{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>Michael Vaden</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
        <script type="importmap">
            {
                "imports": {
                    "three": "{% static 'js/three/three.module.js' %}",
                    "three/addons/": "{% static 'js/three/jsm/' %}",
                    "shaders/": "{% static 'js/shaders/' %}"
                }
            }
        </script>
    </head>
    <body class="body darkmode">
        {% include 'partials/nav.html' %}
        {% include 'partials/welcome.html' %}
        <script type="module" src="{% static 'js/welcome_graphic.js' %}"></script>
    </body>
    <script src="{% static 'js/darkmode.js' %}"></script>
    <script src="{% static 'js/page_controller.js' %}"></script>
</html>