<svg class="nav__darkmode-button__icon darkmode" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
    <ellipse class="nav__darkmode-button__icon__circle" rx="25" ry="25" cx="50" cy="50"/>
    <path class="nav__darkmode-button__icon__ray1"/>
    <path class="nav__darkmode-button__icon__ray2"/>
    <path class="nav__darkmode-button__icon__ray3"/>
    <path class="nav__darkmode-button__icon__ray4"/>
    <path class="nav__darkmode-button__icon__ray5"/>
    <path class="nav__darkmode-button__icon__ray6"/>
    <path class="nav__darkmode-button__icon__ray7"/>
    <path class="nav__darkmode-button__icon__ray8"/>
</svg>